body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

#pixel-art {
    display: grid;
    grid-template-columns: repeat(50, 10px); /* 50 colunas */
    grid-template-rows: repeat(50, 10px); /* 50 linhas */
}

.pixel {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.flame {
    background-color: orange;
}

.flame-light {
    background-color: yellow;
}

.spark {
    background-color: red;
}
